<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title th:text="#{label.newdeck}">New Deck</title>
</head>
<body>
<div class="">
    <h2 th:text="#{label.create_deck}">Create New Deck</h2>

    <div th:if="${errorMessage}" class="error" th:text="${errorMessage}"></div>

    <div th:if="${successMessage}" class="success" th:text="${successMessage}"></div>

    <form th:action="@{/decks/new}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <input type="text" name="name" th:placeholder="#{label.deckname}" required/>
        <input type="text" name="targetLanguage" th:placeholder="#{label.target_language}" required/>
        <select name="folderId">
        <option value="">Без папки</option>
        <option th:each="folder : ${folders}"
                th:value="${folder.id}"
                th:text="${folder.name}">
        </option>
        </select>


        <button type="submit" th:text="#{button.newdeck}">Create New Deck</button>
    </form>
</div>
</body>
</html>